@model PostSys.Models.RegisterViewModel
@if (User.IsInRole("Admin"))
{


<!DOCTYPE html>
<html lang="en">

<head>
	<title>Create a new account</title>
	<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
	<meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template" />
	<meta name="author" content="CodedThemes" />

	<!-- Favicon  -->
	<link rel="icon" href="~/images/customer - logo.png">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
	<!-- vendor css -->
	<link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="auth-bg">
				<span class="r"></span>
				<span class="r s"></span>
				<span class="r s"></span>
				<span class="r"></span>
			</div>
			<div class="card">
				@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
					@Html.AntiForgeryToken()

					<div class="card-body text-center">
						<div class="mb-4">
							<i class="feather icon-user-plus auth-icon"></i>
						</div>
						<h4 class="mb-4">Create A New Account</h4>
						<div class="input-group mb-3">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })

						</div>

						<div class="input-group mb-3">
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })

						</div>

						<div class="input-group mb-3">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })

						</div>

						<div class="input-group mb-3">
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })

						</div>


						<div class="input-group mb-4">
							@Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "Choose Roles", new { @class = "form-control" })
						</div>


						<button class="btn btn-primary shadow-2 mb-4">Create</button>
						<div style="margin-left: -20px;">
							<i class="fas fa-arrow-left"></i>
							<a href="~/Admins/Index">
								Back to Index
							</a>
						</div>
					</div>


                }
			</div>
		</div>
	</div>

	<!-- Required Js -->
	<script src="~/assets/js/vendor-all.min.js"></script>
	<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>




@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
}