@model IEnumerable<PostSys.Models.Assignment>
@{
	ViewBag.Title = "ManageMyAssignment";
}

@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
	<html lang="en">

	<head>
		<title>My Assignment</title>
		<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 11]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- Favicon  -->
		<link rel="icon" href="~/images/customer - logo.png">
		<!-- fontawesome icon -->
		<link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
		<!-- animation css -->
		<link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
		<!-- vendor css -->
		<link rel="stylesheet" href="~/assets/css/style.css">
	</head>

	<body>
		<!-- [ Animate ] start -->
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<!-- [ Animate ] End -->
		<!-- Preloader -->
		<div class="spinner-wrapper">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<!-- end of preloader -->
		<!-- [ navigation menu ] start -->
		<nav class="pcoded-navbar">
			<div class="navbar-wrapper">
				<div class="navbar-brand header-logo">
					<a href="~/Home/Index" class="b-brand">
						<div class="b-bg">
							<i class="feather icon-circle"></i>
						</div>
						<span class="b-title">CMS</span>
					</a>
					<a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
				</div>
				@if (Request.IsAuthenticated && User.IsInRole("Student"))
				{
					<div class="navbar-content scroll-div">
						<ul class="nav pcoded-inner-navbar">
							<li class="nav-item pcoded-trigger">
								<a href="~/Home/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home Page</span></a>
							</li>
							<li class="nav-item pcoded-menu-caption">
								<label>Student Features</label>
							</li>

							<li class="">
								<a href="~/Classes/ListClasses" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-plus"></i></span><span class="pcoded-mtext">List Classes</span></a>
							</li>

							<li class="nav-item pcoded-hasmenu">
								<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Manage</span></a>
								<ul class="pcoded-submenu">
									<li class="">
										<a href="~/Courses/ManageMyCourse" class="nav-link "><span class="pcoded-mtext">Manage My Course</span></a>
									</li>
									<li class="">
										<a href="~/Assignments/ManageMyAssignment" class="nav-link "><span class="pcoded-mtext">Submit Assignment</span></a>
									</li>
									<li class="">
										<a href="~/Posts/ManageMyPost" class="nav-link "><span class="pcoded-mtext">Manage My Post</span></a>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="nav pcoded-inner-navbar">
							<li class="nav-item pcoded-menu-caption">
								<label>Login as: Student</label>
							</li>
							<li>
								<a href="~/Home/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">@Html.DisplayName("Hello " + User.Identity.GetUserName() + "!")</span></a>
							</li>
							@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav pcoded-inner-navbar" }))
							{

								<li>
									@Html.AntiForgeryToken()
									<a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Log Out</span></a>
								</li>
							}
						</ul>
					</div>
				}
				@if (Request.IsAuthenticated && User.IsInRole("Marketing Coordinator"))
				{
					<div class="navbar-content scroll-div">
						<ul class="nav pcoded-inner-navbar">
							<li>
								<a href="~/Home/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home Page</span></a>
							</li>
							<li class="nav-item pcoded-menu-caption">
								<label>Marketing Coordinator Features</label>
							</li>
							<li>
								<a href="~/Deadlines/CreateDeadline" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-plus"></i></span><span class="pcoded-mtext">Create Deadline</span></a>
							</li>

							<li class="nav-item pcoded-hasmenu">
								<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Manage</span></a>
								<ul class="pcoded-submenu">
									<li>
										<a href="~/Deadlines/ManageMyDeadline" class="nav-link "><span class="pcoded-mtext">Manage My Deadline</span></a>
									</li>
									<li>
										<a href="~/Courses/ManageMyCourse" class="nav-link "><span class="pcoded-mtext">Manage My Course</span></a>
									</li>

									<li>
										<a href="~/Assignments/ManageMyAssignment" class="nav-link "><span class="pcoded-mtext">Manage My Assignment</span></a>
									</li>
									<li>
										<a href="~/Posts/ManageMyPost" class="nav-link "><span class="pcoded-mtext">Manage My Post</span></a>
									</li>
									<li>
										<a href="~/Classes/ManageMyClass" class="nav-link "><span class="pcoded-mtext">Enrollment Key</span></a>
									</li>
									<li>
										<a href="~/Posts/ManageMyPublication" class="nav-link "><span class="pcoded-mtext">Manage My Publication</span></a>
									</li>
									<li>
										<a href="~/Posts/ManageMyComment" class="nav-link "><span class="pcoded-mtext">Manage My Comments</span></a>
									</li>
								</ul>
							</li>
							<li>
								<a href="~/Dashboards/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span><span class="pcoded-mtext">Charts</span></a>
							</li>
							<li>
								<a href="~/Posts/DownloadZip" class="nav-link "><span class="pcoded-micon"><i class="feather icon-download"></i></span><span class="pcoded-mtext">Download File (Zip)</span></a>
							</li>
						</ul>
						<ul class="nav pcoded-inner-navbar">
							<li class="nav-item pcoded-menu-caption">
								<label>Login as: Marketing Coordinator</label>
							</li>
							<li>
								<a href="~/Home/Index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">@Html.DisplayName("Hello " + User.Identity.GetUserName() + "!")</span></a>
							</li>
							@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav pcoded-inner-navbar" }))
							{

								<li>
									@Html.AntiForgeryToken()
									<a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Log Out</span></a>
								</li>
							}
						</ul>
					</div>
				}
			</div>
		</nav>
		<!-- [ navigation menu ] end -->
		<!-- [ Header ] start -->
		<header class="navbar pcoded-header navbar-expand-lg navbar-light">
			<div class="m-header">
				<a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
				<a href="~/Home/Index" class="b-brand">
					<div class="b-bg">
						<i class="feather icon-circle"></i>
					</div>
					<span class="b-title">CMS</span>
				</a>
			</div>
			<a class="mobile-menu" id="mobile-header" href="javascript:">
				<i class="feather icon-more-horizontal"></i>
			</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
				</ul>
			</div>
		</header>
		<!-- [ Header ] end -->
		<!-- [ Main Content ] start -->
		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<div class="pcoded-content">
					<div class="pcoded-inner-content">

						<!-- Student -->
						@if (User.IsInRole("Student"))
						{
						<!-- [ breadcrumb ] start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-12">
										<div class="page-header-title">
											<h5 class="m-b-10">@Html.DisplayName("Welcome,  " + User.Identity.GetUserName() + "!")</h5>
										</div>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
											<li class="breadcrumb-item"><a href="javascript:">Submit Assignment</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- [ breadcrumb ] end -->
						<div class="main-body">
							<div class="page-wrapper">
								<!-- [ Main Content ] start -->
								<div class="row">
									<div class="col-xl-12">
										<div class="card">
                                            <div class="card-header">
                                                <h5>Submit Assignment</h5>
                                                <span class="d-block m-t-5">Submit<em><code>Assignment</code></em> to the CMS</span>

                                            </div>
											<div class="card-block table-border-style">
												@using (Html.BeginForm("ManageMyAssignment", "Assignments", FormMethod.Get))
												{
													<div class="table-responsive">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>Assignemnt Name</th>
																	<th>Deadline StartDate</th>
																	<th>Deadline EndDate</th>
																	@if (User.IsInRole("Marketing Coordinator"))
																	{
																		<th>Delete</th>
																	}

																	@if (User.IsInRole("Student"))
																	{
																		<th>Submit</th>
																	}
																</tr>
															</thead>
															<tbody>
																@foreach (var item in Model)
																{
																	<tr>
																		<td>@item.Name</td>
																		<td>@item.Deadline.StartDate</td>
																		<td>@item.Deadline.EndDate</td>
																		@if (User.IsInRole("Marketing Coordinator"))
																		{
																			<td>@Html.ActionLink("Delete", "DeleteAssignment", new { id = item.Id })</td>
																		}

																		@if (User.IsInRole("Student"))
																		{
																			<td>@Html.ActionLink("Submit", "SubmitPost", new { id = item.Id })</td>
																		}
																	</tr>
																}
															</tbody>
														</table>
													</div>
												}

												<!-- [ Main Content ] end -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}


						<!-- Coordinator -->
						@if (User.IsInRole("Marketing Coordinator"))
						{
						<!-- [ breadcrumb ] start -->
						<div class="page-header">
							<div class="page-block">
								<div class="row align-items-center">
									<div class="col-md-12">
										<div class="page-header-title">
											<h5 class="m-b-10">@Html.DisplayName("Welcome,  " + User.Identity.GetUserName() + "!")</h5>
										</div>
										<ul class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
											<li class="breadcrumb-item"><a href="javascript:">Manage My Assignment</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- [ breadcrumb ] end -->
						<div class="main-body">
							<div class="page-wrapper">
								<!-- [ Main Content ] start -->
								<div class="row">
									<div class="col-xl-12">
										<div class="card">
											<div class="card-header">
												<h5> Manage My Assignment</h5>
											</div>
											<div class="card-block table-border-style">
												@using (Html.BeginForm("ManageMyAssignment", "Assignments", FormMethod.Get))
												{
													<div class="table-responsive">
														<table class="table">
															<thead>
																<tr>
																	<th>Assignemnt Name</th>
																	<th>Deadline StartDate</th>
																	<th>Deadline EndDate</th>
																	@if (User.IsInRole("Marketing Coordinator"))
																	{
																		<th>Delete</th>
																	}

																	@if (User.IsInRole("Student"))
																	{
																		<th>Submit</th>
																	}
																</tr>
															</thead>
															<tbody>
																@foreach (var item in Model)
																{
																	<tr>
																		<td>@item.Name</td>
																		<td>@item.Deadline.StartDate</td>
																		<td>@item.Deadline.EndDate</td>
																		@if (User.IsInRole("Marketing Coordinator"))
																		{
																			<td>@Html.ActionLink("Delete", "DeleteAssignment", new { id = item.Id })</td>
																		}

																		@if (User.IsInRole("Student"))
																		{
																			<td>@Html.ActionLink("Submit", "SubmitPost", new { id = item.Id })</td>
																		}
																	</tr>
																}
															</tbody>
														</table>
													</div>
												}

												<!-- [ Main Content ] end -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
		<!-- [ Main Content ] end -->
		<!-- Required Js -->
		<script src="~/assets/js/vendor-all.min.js"></script>
		<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/assets/js/pcoded.min.js"></script>
	</body>
</html>
}